.water{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.90)), url("assets/tex.png");  
}

*{
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    width: 100%;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar{
    display: none;
}

body{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p, li{
    font-size: large;
}

hr{
    color: grey;
}
#home{
    /*background:linear-gradient(0deg, rgba(19, 16, 17, 0.75), rgba(26, 19, 23, 0.75)), url("https://img.olympicchannel.com/images/image/private/t_16-9_1280/primary/gpnbvq0vhb9dbd43lnmj");*/
    background:linear-gradient(0deg, rgba(19, 16, 17, 0.75), rgba(26, 19, 23, 0.75)), url("assets/img2.JPG");
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
    
}

#izrada{
    background:linear-gradient(0deg, rgba(19, 16, 17, 0.87), rgba(26, 19, 23, 0.884)), url("assets/arbeit.jpg");
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#info{
    background:linear-gradient(0deg, rgba(19, 16, 17, 0.90), rgba(26, 19, 23, 0.90)), url("assets/dzoni.jpg");
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.hidden{
    display:none;
}

.text-dark{
    color: black;
}

.landing-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}


.typing{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
	color: white;
    position: relative;
    margin-left: 10px;
}

.typing::after{
	color: white;
    content: "";
    position: absolute;
    right: -5px;
    width: 1px;
    height: 5%;
    border-right: 2px solid white;
    animation: blink 0.5s infinite ease;
}

@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* Ovo je za onaj <hr> na stranici sa rezultatima */
.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
    color: rgba(128, 128, 128, 0.584);
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: rgba(128, 128, 128, 0.384);
    
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}
